#title {
  font-size: 50px;
  text-align: center;
}

#color-palette {
  display: block;
  text-align: center;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 2px;
}

.color:first-child {
  background-color: black;
}

.color:nth-child(2) {
  background-color: rgb(255, 0, 0);
}

.color:nth-child(3) {
  background-color: rgb(0, 0, 255);
}

.color:nth-child(4) {
  background-color: rgb(0, 255, 0);
}

#pixel-board {
  display: block;
  text-align: center;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
  background-color: rgb(255, 255, 255);
}

.linha {
}
