#title {
  font-size: 50px;
  text-align: center;
}

#color-palette {
  display: inline-flex;
}

.color {
  border: 1px solid black;
}

.color:first-child {
  background-color: black;
  height: 80px;
  width: 80px;
}

.color:nth-child (2) {
  background-color: red;
  height: 80px;
  width: 80px;
}

.color:nth-child (3) {
  background-color: blue;
  height: 80px;
  width: 80px;
}

.color:nth-child (4) {
  background-color: green;
  height: 80px;
  width: 80px;
}
